.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    height: 20rem;

}

.sr-only{
    margin-left: 0.2rem;

}

.spinner-border{
    height: 3rem;
    width:3rem;
}